@inherits ai.IndexBase

<div style="
	position: fixed;
  width: 100vw;
	height: 400px;
	background-color: #404040;
  transform: translate(@(-X)px, @(-Y)px);
">

</div>

@code {
  [Parameter]
  public double X { get; set; }
  [Parameter]
  public double Y { get; set; }
}
